## .gitignore

# system files
*.DS_Store
*.swp

# secrets
.env
.env_prod
certs/
conf/production.conf
docker-compose.yml
docker-compose_prod.yml
nginx/.htpasswd

# app files
conf/evolutions/
logs/
project/project/
project/target/
target/

# large/data files
*.asc
*.dss
*.tif
dynamicFiles/
layerData/

# startup helper
graze


