## .gitignore

# system files
*.DS_Store
*.swp

# secrets
conf/production.conf

# app files
conf/evolutions/
logs/
project/project/
project/target/
target/.history

# large/data files
*.asc
*.dss
*.tif
dynamicFiles/
layerData/

