
.x-tool-img {
	background-size: 16px 384px;
}

.x-form-radio-default {
	background-size: 30px 30px;
}
.x-form-checkbox-default {
	background-size: 30px 30px;
}
.x-column-header-checkbox .x-column-header-checkbox:after, .x-grid-checkcolumn:after {
	background-size: 30px 30px;
	}
.x-panel-header-title-default {
//	font-size: 16px;
	font-weight: bold;
//	line-height: 17px;
	color: #346;
}

.x-btn.x-btn-menu-active.x-btn-default-large, .x-btn.x-btn-pressed.x-btn-default-large {
	border-color: rgba(0,0,0,0.2);
	background-image: none; 
	background-color: #f5f5f5;
}

.x-btn-over.x-btn-default-large {
	border-color: rgba(0,0,0,0.4);
	background-image: none;
	background-color: rgba(255,255,255,0.4);
}

.x-btn-default-large {
	-webkit-border-radius: 16px 16px 0 0;
	-moz-border-radius: 16px 16px 0 0;
	-ms-border-radius: 16px 16px 0 0;
	-o-border-radius: 16px 16px 0 0;
	border-radius: 16px 16px 0 0;
	background-color: rgba(255,255,255,0.2);
	border-color: rgba(0,0,0,0.2);
	padding: 8px 12px;
}

.x-btn-inner-default-large {
	font: bold 14px helvetica, arial, verdana, sans-serif;
	color: #234;
	word-wrap: break-word;
	overflow-wrap: break-word; 
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */; 
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/; 
 /*   word-break: break-all;*/
    white-space: normal;
}

.transparency-icon {
	background-image: url(images/transparency-icon.png);
	background-size: cover;	
}

.swap-icon {
	background-image: url(images/swap-icon.png);
	background-size: cover;	
}

.square-icon {
	background-image: url(images/square-icon.png);
	background-size: cover;	
}

.circle-icon {
	background-image: url(images/circle-icon.png);
	background-size: cover;	
}

.dss-delete-icon {
	background-image: url(images/delete-icon.png);
	background-size: cover;
	opacity: 0.5	
}
.dss-delete-icon:hover {
	opacity: 1	
}

.dss-inspect-icon {
	background-image: url(images/inspect-icon.png);
	background-size: cover;
	opacity: 0.5	
}
.dss-inspect-icon:hover {
	opacity: 1	
}

.dss-no-header-border {
	border-bottom-color: #fff !important;
-webkit-transition : border 500ms;
  -moz-transition : border 500ms;
  -o-transition : border 500ms;
  transition : border 500ms;
}

.
.x-column-header-inner {
    padding: 7px !important;
}

}x-selection-working-mask {
    background-color: rgba(207, 207, 207, 0.7);
    border-color: transparent
}

.x-btn.x-btn-menu-active.x-btn-default-toolbar-small, .x-btn.x-btn-pressed.x-btn-default-toolbar-small {
    background-color:#d2d2d2
}
.x-btn-pressed .x-btn-wrap .x-btn-button .x-btn-inner {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5), 1px 1px 0 rgba(0,0,0,0.25);
}
.x-grid-header-ct {
    border: 1px solid #cfcfcf !important;
}
.x-btn.x-btn-menu-active.x-btn-default-medium, .x-btn.x-btn-pressed.x-btn-default-medium {
    border-color: #809fb9;
    background-color: #2a6e9f
}

.x-btn-wrap-default-small.x-btn-arrow-right:after {
    background-size: 16px;
}

.x-accordion-hd .x-panel-header-title {
	font-weight: bold;
	color: #157fcc;
}

.x-accordion-item .x-accordion-hd {
	padding: 8px 10px 8px 24px;
	border-top-color: #aaa;
}

.x-panel-header-collapsed .x-panel-header-title {
	font-weight: 300;
	color: #789;
}

.ol-control button {
    background-color: rgba(0, 60, 136, .7);
}

.ol-custom-button {
	bottom: 0.5em;
	left: 0.5em;
}

.ol-scale-line {
	background: rgba(0,60,136,.65);
    border-radius: 4px;
    bottom: 3em;
    right: 3em;
    left: unset;
    padding: 2px;
    position: absolute
}

.inverted-close-icon {
    background-image: url(images/inverted-close-icon.png) !important;
    background-size: cover;
}

.inverted-plus-icon {
    background-image: url(images/inverted-plus-icon.png) !important;
    background-size: cover;
}

.spinner-rotate {
	-ms-animation: rotation 0.6s infinite linear;
	-moz-animation: rotation 0.6s infinite linear;
	-webkit-animation: rotation 0.6s infinite linear;
	-o-animation: rotation 0.6s infinite linear;
	animation: rotation 0.6s infinite linear; 
}

@-webkit-keyframes rotation {
    from{
    	-ms-transform: rotate(360deg);
    	-moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    	-o-transform: rotate(360deg);
    	transform: rotate(360deg);
    }
    to{
    	-ms-transform: rotate(0deg);
    	-moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    	-o-transform: rotate(0deg);
    	transform: rotate(0deg);
    }
}

.ol-zoom {
    left: unset;
    top: unset;
	bottom: 3em;
    right: .5em
}

.dss-tool {
    cursor: pointer
}

.dss-tool-tool-el {
    overflow: hidden;
    width: 28px;
    height: 28px;
    margin: 0;
    color: #fff;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    opacity: 0.75
}

.dss-tool-over .dss-tool-tool-el {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1
}

.dss-tool-pressed .dss-tool-tool-el {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1
}

.dss-tool-gear {
    background-image: url(images/process-icon.png);
    background-size: cover
}
.dss-tool-plus {
    background-image: url(images/new-trx-icon.png);
    background-size: cover
}
.dss-tool-refresh {
    background-image: url(images/new-scenario-icon.png);
    background-size: cover
}

.dss-map-icon {
	background-image: url(images/map-icon.png);
	background-size: cover;
	opacity: 0.7;
	width: 22px !important
}

.dss-map-icon-pressed {
	background-image: url(images/map-icon-active.png);
	background-size: cover;
	opacity: 1;
	width: 22px !important
}

.dss-map-icon:hover {
	opacity: 1
}

.dss-model-link {
	text-align: right;
	color: #225;
	text-decoration: underline;
	cursor: pointer;	
}

.dss-model-link:hover {
	color: #36d;
}

.sankey-chart {
  width: 100%;
  height: 100%;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  fill: #234;
 font-weight: bold;
 }

.node .text-shadow {
  pointer-events: none;
  stroke: #fff;
  stroke-width: 2px;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}