
.d3-pie-container:hover .d3-pie {
	stroke-width: 3;
}

.d3-pie-container:hover text {
	fill: #000;	
	stroke: #000;
	stroke-width: 0.5;
}

.d3-wedge-container:hover .d3-wedge {
	stroke-width: 3;
}

.d3-wedge-container:hover text {
	fill: #000;	
	stroke: #000;
	stroke-width: 0.5;
}


.d3-comparison-marks:hover {
	stroke-width: 1.5
}

.d3-nav-bg {
	stroke: #aaa;
	stroke-width: 1;
	fill: #fff;
}

.d3-nav-disabled {
	cursor: not-allowed !important;
	fill: #888 !important;
	color: #ddd !important;	
}
.d3-nav-disabled:hover {
	text-shadow: 0 0 0px #333 !important;
}

.d3-nav {
	cursor: pointer;
	fill: #3892d4;
}

.d3-nav:hover {
	fill: #4f9fd8;
	text-shadow: 0 0 2px #99f;
}

.d3-nav-text {
	font-family: sans-serif;
	font-size: 16px;
	fill: #fff
}

.d3-nav-active {
	font-weight: bold;
	fill: #2a6e9f;
}

.d3-nav-tooltip {	
    position: absolute;			
    text-align: center;			
    padding: 8px;				
    font: 12px sans-serif;		
    background: #eef;	
    border: 1px solid #ccc;		
    border-radius: 4px;
    color: #333;			
    pointer-events: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    z-index: 32000;		
}
